@{ ViewBag.Title = "About"; }

<!-- Breadcrumb -->
<div class="breadcrumbs overlay" style="background-image:url('../../img/8.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <!-- Bread Menu -->
                    <div class="bread-menu">
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">Home -</a></li>
                            <li><a href="@Url.Action("About ","Home")">About Us</a></li>
                        </ul>
                    </div>
                    <!-- Bread Title -->
                    <div class="bread-title"><h2>About Company</h2></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / End Breadcrumb -->
<!-- About Us -->
<section class="about-us section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 col-md-6">
                <!-- About Video -->
                <div>
                    <video width="900" height="625" controls>
                        <source src="~/img/about.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <!--/End About Video  -->
            </div>
            <div class="">
                <div class="about-content section-title default text-left">
                    <div class="section-top">
                        <h1><span>About Us</span><b>Who is Smart ?</b></h1>
                    </div>
                    <div class="section-bottom">
                        <div class="text">
                            <p>Smart For Electrical Engineering Started its career in the name of Commerce. BE SMART, LIVE BETTER "The priority is customer satisfaction." our promise to our customers who have adopted continuous, high-quality service and products.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End About Us -->
