@{ ViewBag.Title = "Contact"; }
<!-- Breadcrumb -->
<div class="breadcrumbs overlay" style="background-image:url('../../img/9.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <!-- Bread Menu -->
                    <div class="bread-menu">
                        <ul>
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>|
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <!-- Bread Title -->
                    <div class="bread-title"><h2>Contact With Us</h2></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ End Breadcrumb -->
<!-- Contact Us -->
<section class="contact-us section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-12">
                <!-- Contact Form -->
                <div class="contact-form-area m-top-30">
                    <h4>Find Us</h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13825.755760287977!2d31.250672377493014!3d29.966812949768343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145847b33a35da9d%3A0xf1e7187827150f7d!2sSmart%20For%20Electrical%20Engineering!5e0!3m2!1sar!2seg!4v1599391326697!5m2!1sar!2seg" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <!--/ End contact Form -->
            </div>
            <div class="col-lg-5 col-md-5 col-12">
                <div class="contact-box-main m-top-30">
                    <div class="contact-title">
                        <h2>Contact with us</h2>
                    </div>
                    <!-- Single Contact -->
                    <div class="single-contact-box">
                        <div class="c-icon"><i class="fa fa-phone"></i></div>
                        <div class="c-text">
                            <h4>Call Us Now</h4>
                            <p><a href="mailto:info@see-eg.com">info@see-eg.com </a>-<a href="#"> +20 102 722 6606</a></p>
                            <p><a href="mailto:omar@see-eg.com">omar@see-eg.com </a>-<a href="#"> +20 100 231 1925</a></p>
                            <p><a href="mailto:sales@see-eg.com">sales@see-eg.com </a>-<a href="#"> +20 102 024 0791</a></p>
                        </div>
                    </div>
                    <!--/ End Single Contact -->
                    <!-- Single Contact -->
                    <div class="single-contact-box">
                        <div class="c-icon"><i class="far fa-clock"></i></div>
                        <div class="c-text">
                            <h4>Opening Hour</h4>
                            <p>Saturday  -  Thursday<br>09AM - 5PM (everyday)</p>
                        </div>
                    </div>
                    <!--/ End Single Contact -->

                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Contact Us -->