<ul class="sub-menu">

    @{ foreach (var category in ViewBag.layoutVM.GetCategories())
        {

<li>

    <a href="@Url.Action("FilterProductTypeByCategory", "ProductType", new { id = category.ID })">@category.CategoryName</a>
    <ul class="sub-menu">
        @foreach (var type in ViewBag.layoutVM.GetProductTypesForSpecificCategory(category.ID))
        {

<li><a href="@Url.Action("FilterProductsByType", "ProductType", new { id = type.ID })">@type.Type</a></li>
}
    </ul>
</li>
 } }

</ul>